@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
  background-color: #070718;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  width: 100%;
  height: 100%;
}

header {
  position: sticky;
  width: 100%;
}

nav {
  display: flex;
  position: absolute;
  justify-content: space-around;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 30px 0;
}

a {
  font-size: 20px;
  margin-right: 3px;
  margin-left: 3px;
}

form {
  right: 0;
  border: 0;
  margin-right: 5px;
  margin-left: 5px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 30px 0;
  color: #fff;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px #145c84;
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%
}

.movie-info {
  color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.5px;
  padding: 0.5rem 1rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  border-radius: 3px;
  font-weight: bold;
  margin-left: 0.5rem;
}

.movie-info span.green {
  color: #28a745;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0)
}

.movie-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 20px;
}

.movie-details {
  margin-left: 20px;
}

.metadata {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.metadata h4 {
  margin-right: 18px;
}

@media (max-width: 575.98px) {
  .movie-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 20px;
  }

  .movie-details {
    margin-top: 20px;
  }
}
